<main class="main-content  mt-0">
  <h3 class="title">Gestionnaire des impayés</h3>
  <section  style="padding: 3%;">
    <div class="page-header min-vh-100"  >
 
      <div class="container">
       
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
            <div class="card card-plain" style="    margin-top: -108px;
            ">
              <div class="card-header pb-0 text-start">
                <h4 class="font-weight-bolder">Sign In</h4>
                <p class="mb-0">Enter your email and password to sign in</p>
              </div>
              <div class="card-body">
                <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           
                  <div class="mb-3  ">
                    <input type="email"   formControlName="email" class="form-control form-control-lg" placeholder="Email"  >
          
                </div>
               
                  <div class="mb-3">
                    <input type="password"   formControlName="password" class="form-control form-control-lg" placeholder="Password" >
                  </div>
                   
                  <div class="text-center">
                    <button type="button" type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0 button-s" style="background: #ffcf00 !important;
                    border: none !important;">Sign in</button>
                  </div>
                </form>
              </div>
    
            </div>
          </div>
        
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="    background-image: url(../../assets/images/agil.png);
            background-size: cover;
            width: 78%;
            margin-left: 8% !important;">
               <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
              <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
            </div>
          </div>
 

        </div>
      </div>
    </div>
  </section>
</main>
